body, html {
    padding: 0;
    margin: 0;
}

nav {
    padding: 0 64px;
    display: flex;
    align-items: center;
}

.link-row {
    margin: 0 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .logo {
    width: 200px;
    height: 150px;
}

nav img {
    width: 100%;
    height: 100%;
}

.main-container {
    background-image: url("delivery.jpg");
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: 100%;
}

.info-block {
    padding: 40px;
    border-radius: 30px;
    width: 500px;
    float: right;
    margin: 170px 200px 0 0;
    color: white;
    line-height: 25px;
    background-color: rgba(50, 150, 300, 0.85);
}

.moving-car-container {
    position: absolute;
    width: 100%;
}

.moving-car {
    width: 80px;
    height: 80px;
    animation: 5s ease-in-out infinite running car-move;
}

@keyframes car-move {
    from {
        margin-left: 0;
    }
    to {
        margin-left: calc(100% - 80px);
    }
}